.sidebar-item{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    max-height: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 0.95em;
    color: var(--font-color);
    text-decoration: none;  
    font-weight: 500;
    span > svg {
        color: var(--font-color);
        width: 100%;
        height: 100%;
        transition: all 0.3s ease;
    }
    &__open{
        span > svg {
            transform: rotate(180deg);
        }
    }
    &__wrapper{
        li{
            padding-left: 1.1em;
        }
        
    }
    &__submenu{
        display: none;
        list-style-type: none;
        
        &-open{
            display: block;
        }
    }
    &.active{
        background-color: var(--hover-background);
    }
    &:not(&__nesting):hover {
        background-color: var(--hover-background);
    }
}