* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
:root {
    --main-color: #222a32;
    --main-red-color: rgba(240, 50, 38, 0.85);
    --second-color: #2a2c35;
    --font-color: #cfd2e3;
    --font-gray-color: #777b8e;
    --warning: #ff7549;
    --accent: #855aff;
    --hover-background: hsla(0, 0%, 100%, 0.1)
  }